*bin/
*obj/
.vs/*
*.csproj.user
*.suo
*.cache
Shuffle/Shuffle.csproj
Shuffle/obj/Debug64/DesignTimeResolveAssemblyReferencesInput.cache
Shuffle/obj/Debug64/DesignTimeResolveAssemblyReferencesInput.cache
